.DS_Store
CV Nethraja.pdf
Resume Nethraja.pdf
headshot.JPG
FAFP_2023.jpeg
IFT_2024_1.jpeg
IFT_2024_2.jpeg
IAFP_2025.jpeg
3mt-finalist-2026.png
grad-impact-profile.png
seafood-mislabeling.png
nsf-icorps.png
shrimp-research.png
index.html.bak
styles.css.bak
script.js.bak
